* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  min-height: 100vh;
  width: 100%;
}


.user-area {
  display: flex;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  gap: 4rem;
  padding: 2rem;
  background-color: #FFFFFF;
}

.user-details {
  background-color: #FFFFFF;
  display: flex;
  flex: 0 0 500px;
  flex-direction: column;
  height: 30vh;
  width: 22vh;
  align-items: center;
  text-align: center;
}



.profile-picture {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 1.5rem;
}

.social-links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}


.content-grid {
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
}

.content-button {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
  min-height: 100px;
  background-color: #DEDEDE;
  padding: 1.5rem;
  border-radius: 24px;
}

.button-container {
  text-decoration: none;
  display: block;
  width: 100%;
  max-width: 750px;
}

.content-button h3 {
  color: black;
}

.content-preview img {
   width: 10%;
}

.content-preview {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.content-preview img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.content-preview-text h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

