* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  display: flex;
  margin-left: 220px;
}

html {
  scroll-behavior: smooth;
}

.user-area {
  position: sticky;
  display: flex;
  height: 300px;
  background-color: #FFFFFF;
  color: #0000;
  width: 350px;
  padding: 50px 20px 0.65px;
  min-height: auto;
  min-width: auto;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(0,0,0);
  text-align:left;
  word-spacing: 0px;
  margin-top: 10px;
}

.user-details {
  background-color: #FFFFFF;
  height: 24vh;
  width: 22vh;
  min-height: auto;
  min-width: auto;
  position: block;
  box-sizing: border-box;
}

.user-details h2 {

}


.profile-picture {
  height: 100px;
  width: 100px;
  display: flex;
  overflow: clip;
  margin-bottom: 50px;
  border-radius: 50%;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  height: 30px;
  width: 200px;
  margin: 20px 0.8px 0;
  display: block;
}

.social-links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  text-align: left;
  height: 50px;
  width: 200px;
  margin: 20px 0.20px 0;
  box-sizing: border-box;
}

.Twitter-Icon {
  line-height: 100px;
}

.content-grid {
  background-color: #FFFFFF;
  height: 925px;
  width: 900px;
  display: flex table-column;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 50%;
  text-decoration: none;
}

.content-button {
  display: flex;
  height: 120px;
  width: 700px;
  margin: 25px;
  margin-left: 100px;
  padding: 18px 18px 18px 18px;
  min-height: auto;
  min-width: auto;
  overflow: hidden;
  background-color: #DEDEDE;
  box-sizing: border-box;
  border-radius: 24px;
  justify-content: center;
  text-decoration: none;
}

.button-container {
  text-decoration: none;
  display: block;;
  width: 0%;
}

.content-button h3 {
  color: black;
}

.content-preview img {
   width: 10%;
}

.content-preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.content-preview-text h3 {
  font-size: medium;
}

